html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
Form {
	display: flex;
}

.clientRow {
	cursor: pointer;
}

.sortHeader {
	cursor: pointer;
}

.clientsTable {
	overflow-y: scroll;
}

.mainList {
	min-width: 80%;
	height: 100vh;
	display: grid;
	grid-template-rows: min-content max-content 1fr min-content;
}
